requests==2.31.0
flake8==7.1.1
flake8-import-order==0.18.2
flake8-print==5.0.0
flake8-bugbear==24.12.12
flake8-builtins==2.5.0
flake8-debugger==4.1.2
flake8-black==0.3.6
black==24.10.0
isort==5.10.1
selenium==4.11.0
numpy==1.24.3
pandas==2.0.3
python-dotenv==1.0.1
pre-commit==4.0.1